USE [AlarmData]
GO
/****** Object:  Table [dbo].[UnitTimelineFacts]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitTimelineFacts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[AgencyId] [int] NULL,
	[UnitCatalogId] [int] NULL,
	[UnitIdentifier] [nvarchar](128) NOT NULL,
	[DispatchedAtUtc] [datetime2](7) NULL,
	[EnrouteAtUtc] [datetime2](7) NULL,
	[ArrivedAtUtc] [datetime2](7) NULL,
	[TransportBeginAtUtc] [datetime2](7) NULL,
	[TransportCompleteAtUtc] [datetime2](7) NULL,
	[ClearedAtUtc] [datetime2](7) NULL,
	[InQuartersAtUtc] [datetime2](7) NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__UnitTime__3214EC078775C882] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UnitTimelineFacts_IncidentId_AgencyId_UnitIdentifier]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UnitTimelineFacts_IncidentId_AgencyId_UnitIdentifier] ON [dbo].[UnitTimelineFacts]
(
	[IncidentId] ASC,
	[AgencyId] ASC,
	[UnitIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UnitTimelineFacts] ADD  CONSTRAINT [DF_UnitTimelineFacts_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [dbo].[UnitTimelineFacts]  WITH CHECK ADD  CONSTRAINT [FK_UnitTimelineFacts_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitTimelineFacts] CHECK CONSTRAINT [FK_UnitTimelineFacts_Incidents]
GO
