USE [AlarmData]
GO
/****** Object:  Table [dbo].[UserAgencies]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgencies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AgencyId] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_UserAgencies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAgencies_AgencyId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserAgencies_AgencyId] ON [dbo].[UserAgencies]
(
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAgencies_UserId_AgencyId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserAgencies_UserId_AgencyId] ON [dbo].[UserAgencies]
(
	[UserId] ASC,
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAgencies_UserId_DefaultOnly]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserAgencies_UserId_DefaultOnly] ON [dbo].[UserAgencies]
(
	[UserId] ASC
)
WHERE ([IsDefault]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAgencies] ADD  CONSTRAINT [DF_UserAgencies_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UserAgencies] ADD  CONSTRAINT [DF_UserAgencies_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[UserAgencies]  WITH CHECK ADD  CONSTRAINT [FK_UserAgencies_Agencies_AgencyId] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agencies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAgencies] CHECK CONSTRAINT [FK_UserAgencies_Agencies_AgencyId]
GO
ALTER TABLE [dbo].[UserAgencies]  WITH CHECK ADD  CONSTRAINT [FK_UserAgencies_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAgencies] CHECK CONSTRAINT [FK_UserAgencies_Users_UserId]
GO
