USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentCaseNumber]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentCaseNumber](
	[IncidentCaseNumberId] [int] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[CaseNumber] [varchar](30) NOT NULL,
	[AgencyPrefix] [varchar](3) NOT NULL,
	[Source] [varchar](30) NULL,
	[IsPrimary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidentCaseNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IncidentCaseNumber] UNIQUE NONCLUSTERED 
(
	[IncidentId] ASC,
	[CaseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentCaseNumber] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[IncidentCaseNumber]  WITH CHECK ADD  CONSTRAINT [FK_IncidentCaseNumber_Incident] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
GO
ALTER TABLE [dbo].[IncidentCaseNumber] CHECK CONSTRAINT [FK_IncidentCaseNumber_Incident]
GO
