USE [AlarmData]
GO
/****** Object:  Table [dbo].[ExportJobs]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportJobs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[ReportExecutionId] [bigint] NULL,
	[Format] [nvarchar](32) NOT NULL,
	[FileName] [nvarchar](260) NOT NULL,
	[ContentType] [nvarchar](128) NOT NULL,
	[PayloadText] [nvarchar](max) NOT NULL,
	[RequestedByUserId] [int] NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ExportJobs_AgencyId_CreatedAtUtc]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExportJobs_AgencyId_CreatedAtUtc] ON [dbo].[ExportJobs]
(
	[AgencyId] ASC,
	[CreatedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExportJobs] ADD  CONSTRAINT [DF_ExportJobs_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
