USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentAgency]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentAgency](
	[IncidentAgencyId] [int] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[AgencyEventId] [varchar](30) NOT NULL,
	[Agency] [varchar](20) NOT NULL,
	[DispatchGroup] [varchar](20) NULL,
	[Priority] [varchar](10) NULL,
	[Type] [varchar](150) NULL,
	[TypeCode] [varchar](20) NULL,
	[Subtype] [varchar](150) NULL,
	[SubtypeCode] [varchar](20) NULL,
	[DispatchedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Closed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidentAgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IncidentAgency_AgencyEventId] UNIQUE NONCLUSTERED 
(
	[AgencyEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentAgency] ADD  DEFAULT ((0)) FOR [Closed]
GO
ALTER TABLE [dbo].[IncidentAgency]  WITH CHECK ADD  CONSTRAINT [FK_IncidentAgency_Incident] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
GO
ALTER TABLE [dbo].[IncidentAgency] CHECK CONSTRAINT [FK_IncidentAgency_Incident]
GO
