USE [AlarmData]
GO
/****** Object:  Table [dbo].[SyncErrors]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyncErrors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceRefId] [bigint] NULL,
	[DeviceId] [nvarchar](128) NULL,
	[AgencyId] [int] NULL,
	[ApiClientId] [int] NULL,
	[Scope] [nvarchar](64) NOT NULL,
	[ErrorCode] [nvarchar](64) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[PayloadJson] [nvarchar](max) NOT NULL,
	[IsResolved] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ResolvedAtUtc] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SyncErrors_DeviceId_CreatedAtUtc]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SyncErrors_DeviceId_CreatedAtUtc] ON [dbo].[SyncErrors]
(
	[DeviceId] ASC,
	[CreatedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SyncErrors] ADD  CONSTRAINT [DF_SyncErrors_Scope]  DEFAULT (N'sync') FOR [Scope]
GO
ALTER TABLE [dbo].[SyncErrors] ADD  CONSTRAINT [DF_SyncErrors_ErrorCode]  DEFAULT (N'outbox') FOR [ErrorCode]
GO
ALTER TABLE [dbo].[SyncErrors] ADD  CONSTRAINT [DF_SyncErrors_PayloadJson]  DEFAULT (N'{}') FOR [PayloadJson]
GO
ALTER TABLE [dbo].[SyncErrors] ADD  CONSTRAINT [DF_SyncErrors_IsResolved]  DEFAULT ((0)) FOR [IsResolved]
GO
ALTER TABLE [dbo].[SyncErrors] ADD  CONSTRAINT [DF_SyncErrors_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
