USE [AlarmData]
GO
/****** Object:  Table [dbo].[ReportExecutions]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportExecutions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[SavedReportId] [bigint] NULL,
	[ReportType] [nvarchar](64) NOT NULL,
	[ParametersJson] [nvarchar](max) NOT NULL,
	[ResultSummaryJson] [nvarchar](max) NOT NULL,
	[ExecutedByUserId] [int] NULL,
	[ExecutedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportExecutions_AgencyId_ExecutedAtUtc]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportExecutions_AgencyId_ExecutedAtUtc] ON [dbo].[ReportExecutions]
(
	[AgencyId] ASC,
	[ExecutedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportExecutions] ADD  CONSTRAINT [DF_ReportExecutions_ExecutedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ExecutedAtUtc]
GO
