USE [AlarmData]
GO
/****** Object:  Table [dbo].[Incidents]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExternalIncidentId] [nvarchar](128) NOT NULL,
	[SourceSystemId] [smallint] NULL,
	[AgencyPrimaryId] [int] NULL,
	[Type] [nvarchar](256) NULL,
	[Priority] [nvarchar](64) NULL,
	[Address] [nvarchar](512) NULL,
	[LocationName] [nvarchar](256) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Coordinates] [nvarchar](64) NULL,
	[Status] [nvarchar](64) NULL,
	[DispatchedAtUtc] [datetime2](7) NULL,
	[ClosedAtUtc] [datetime2](7) NULL,
	[RawPayloadJson] [nvarchar](max) NOT NULL,
	[SourceCreatedAtUtc] [datetime2](7) NULL,
	[SourceUpdatedAtUtc] [datetime2](7) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
	[Municipality] [varchar](20) NULL,
	[PrimaryTypeCode] [varchar](20) NULL,
	[PrimarySubtype] [varchar](150) NULL,
	[PrimarySubtypeCode] [varchar](20) NULL,
	[TypeCode] [nvarchar](64) NULL,
	[Subtype] [nvarchar](256) NULL,
	[SubtypeCode] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Incidents_ExternalIncidentId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Incidents_ExternalIncidentId] ON [dbo].[Incidents]
(
	[ExternalIncidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Incidents] ADD  CONSTRAINT [DF_Incidents_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[Incidents] ADD  CONSTRAINT [DF_Incidents_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
