USE [AlarmData]
GO
/****** Object:  Table [dbo].[IngestedIncidents]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngestedIncidents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ApiClientId] [int] NOT NULL,
	[AgencyId] [int] NOT NULL,
	[IncidentId] [nvarchar](128) NOT NULL,
	[CanonicalJson] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](64) NULL,
	[IsClosed] [bit] NOT NULL,
	[Agency] [nvarchar](256) NULL,
	[Address] [nvarchar](512) NULL,
	[CallType] [nvarchar](256) NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[ReceivedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IngestedIncidents_ApiClientId_IncidentId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IngestedIncidents_ApiClientId_IncidentId] ON [dbo].[IngestedIncidents]
(
	[ApiClientId] ASC,
	[IncidentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IngestedIncidents_ApiClientId_UpdatedAtUtc]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_IngestedIncidents_ApiClientId_UpdatedAtUtc] ON [dbo].[IngestedIncidents]
(
	[ApiClientId] ASC,
	[UpdatedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IngestedIncidents] ADD  CONSTRAINT [DF_IngestedIncidents_IsClosed]  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[IngestedIncidents] ADD  CONSTRAINT [DF_IngestedIncidents_ReceivedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ReceivedAtUtc]
GO
ALTER TABLE [dbo].[IngestedIncidents]  WITH CHECK ADD  CONSTRAINT [FK_IngestedIncidents_ApiClients_ApiClientId] FOREIGN KEY([ApiClientId])
REFERENCES [dbo].[ApiClients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IngestedIncidents] CHECK CONSTRAINT [FK_IngestedIncidents_ApiClients_ApiClientId]
GO
