USE [AlarmData]
GO
/****** Object:  Table [dbo].[SyncBatches]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyncBatches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchId] [nvarchar](64) NOT NULL,
	[DeviceRefId] [bigint] NOT NULL,
	[DeviceId] [nvarchar](128) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[ApiClientId] [int] NOT NULL,
	[Direction] [nvarchar](16) NOT NULL,
	[ItemCount] [int] NOT NULL,
	[StartedAtUtc] [datetime2](7) NOT NULL,
	[CompletedAtUtc] [datetime2](7) NULL,
	[Status] [nvarchar](32) NOT NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SyncBatches_BatchId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SyncBatches_BatchId] ON [dbo].[SyncBatches]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SyncBatches] ADD  CONSTRAINT [DF_SyncBatches_ItemCount]  DEFAULT ((0)) FOR [ItemCount]
GO
ALTER TABLE [dbo].[SyncBatches] ADD  CONSTRAINT [DF_SyncBatches_StartedAtUtc]  DEFAULT (sysutcdatetime()) FOR [StartedAtUtc]
GO
ALTER TABLE [dbo].[SyncBatches] ADD  CONSTRAINT [DF_SyncBatches_Status]  DEFAULT (N'started') FOR [Status]
GO
