USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentCallers]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentCallers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](128) NULL,
	[Address] [nvarchar](512) NULL,
	[City] [nvarchar](128) NULL,
	[FirstCall] [bit] NULL,
	[CreatedAtUtc] [datetime2](7) NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentCallers]  WITH CHECK ADD  CONSTRAINT [FK_IncidentCallers_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentCallers] CHECK CONSTRAINT [FK_IncidentCallers_Incidents]
GO
