USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentUnit]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentUnit](
	[IncidentUnitId] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[IncidentAgencyId] [int] NULL,
	[UnitId] [int] NOT NULL,
	[Agency] [varchar](20) NULL,
	[StatusOriginal] [varchar](2) NULL,
	[Status] [varchar](30) NULL,
	[Comment] [varchar](500) NULL,
	[EventAt] [datetime2](7) NULL,
	[StationCode] [varchar](20) NULL,
	[RawEquipmentName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidentUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentUnit]  WITH CHECK ADD  CONSTRAINT [FK_IncidentUnit_Incident] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
GO
ALTER TABLE [dbo].[IncidentUnit] CHECK CONSTRAINT [FK_IncidentUnit_Incident]
GO
ALTER TABLE [dbo].[IncidentUnit]  WITH CHECK ADD  CONSTRAINT [FK_IncidentUnit_IncidentAgency] FOREIGN KEY([IncidentAgencyId])
REFERENCES [dbo].[IncidentAgency] ([IncidentAgencyId])
GO
ALTER TABLE [dbo].[IncidentUnit] CHECK CONSTRAINT [FK_IncidentUnit_IncidentAgency]
GO
ALTER TABLE [dbo].[IncidentUnit]  WITH CHECK ADD  CONSTRAINT [FK_IncidentUnit_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[IncidentUnit] CHECK CONSTRAINT [FK_IncidentUnit_Unit]
GO
