USE [AlarmData]
GO
/****** Object:  Table [dbo].[SavedReports]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedReports](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[ReportType] [nvarchar](64) NOT NULL,
	[ParametersJson] [nvarchar](max) NOT NULL,
	[CreatedByUserId] [int] NULL,
	[IsShared] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SavedReports_AgencyId_Name]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SavedReports_AgencyId_Name] ON [dbo].[SavedReports]
(
	[AgencyId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SavedReports] ADD  CONSTRAINT [DF_SavedReports_IsShared]  DEFAULT ((1)) FOR [IsShared]
GO
ALTER TABLE [dbo].[SavedReports] ADD  CONSTRAINT [DF_SavedReports_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[SavedReports] ADD  CONSTRAINT [DF_SavedReports_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
