USE [AlarmData]
GO
/****** Object:  Table [dbo].[DeviceSyncStates]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceSyncStates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceRefId] [bigint] NOT NULL,
	[DeviceId] [nvarchar](128) NOT NULL,
	[ApiClientId] [int] NOT NULL,
	[AgencyId] [int] NOT NULL,
	[LastBootstrapAtUtc] [datetime2](7) NULL,
	[LastHeartbeatAtUtc] [datetime2](7) NULL,
	[LastAckAtUtc] [datetime2](7) NULL,
	[LastChangeAtUtc] [datetime2](7) NULL,
	[LastSyncLogId] [bigint] NULL,
	[LastBatchId] [nvarchar](64) NULL,
	[ConflictPolicy] [nvarchar](64) NULL,
	[StateJson] [nvarchar](max) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeviceSyncStates_DeviceId_AgencyId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DeviceSyncStates_DeviceId_AgencyId] ON [dbo].[DeviceSyncStates]
(
	[DeviceId] ASC,
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceSyncStates] ADD  CONSTRAINT [DF_DeviceSyncStates_StateJson]  DEFAULT (N'{}') FOR [StateJson]
GO
ALTER TABLE [dbo].[DeviceSyncStates] ADD  CONSTRAINT [DF_DeviceSyncStates_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
