USE [AlarmData]
GO
/****** Object:  Table [dbo].[ApiClients]    Script Date: 3/11/2026 5:26:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiClients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgencyId] [int] NOT NULL,
	[ClientId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[SourceSystemId] [smallint] NULL,
	[GlobalSettingsJson] [nvarchar](max) NOT NULL,
	[DeviceSettingsJson] [nvarchar](max) NOT NULL,
	[DisplayRegistrationsJson] [nvarchar](max) NOT NULL,
	[DeviceCommandsJson] [nvarchar](max) NOT NULL,
	[AllowedScopesJson] [nvarchar](max) NOT NULL,
	[ClientSecretHash] [nvarchar](256) NOT NULL,
	[ClientSecretSalt] [nvarchar](256) NOT NULL,
	[ClientSecretVersion] [int] NOT NULL,
	[ClientSecretRotatedAtUtc] [datetime2](7) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApiClients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ApiClients_AgencyId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApiClients_AgencyId] ON [dbo].[ApiClients]
(
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApiClients_ClientId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApiClients_ClientId] ON [dbo].[ApiClients]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApiClients_SourceSystemId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApiClients_SourceSystemId] ON [dbo].[ApiClients]
(
	[SourceSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiClients]  WITH CHECK ADD  CONSTRAINT [FK_ApiClients_Agencies_AgencyId] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agencies] ([Id])
GO
ALTER TABLE [dbo].[ApiClients] CHECK CONSTRAINT [FK_ApiClients_Agencies_AgencyId]
GO
ALTER TABLE [dbo].[ApiClients]  WITH CHECK ADD  CONSTRAINT [FK_ApiClients_SourceSystems_SourceSystemId] FOREIGN KEY([SourceSystemId])
REFERENCES [dbo].[SourceSystems] ([Id])
GO
ALTER TABLE [dbo].[ApiClients] CHECK CONSTRAINT [FK_ApiClients_SourceSystems_SourceSystemId]
GO
