USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentAssignments]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentAssignments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[AgencyId] [int] NOT NULL,
	[DeviceId] [nvarchar](128) NULL,
	[AssignmentKind] [nvarchar](64) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentAssignments] ADD  CONSTRAINT [DF_IncidentAssignments_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[IncidentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentAssignments_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentAssignments] CHECK CONSTRAINT [FK_IncidentAssignments_Incidents]
GO
