USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentComments]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentComments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[OccurredAtUtc] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedAgency] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentComments]  WITH CHECK ADD  CONSTRAINT [FK_IncidentComments_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentComments] CHECK CONSTRAINT [FK_IncidentComments_Incidents]
GO
