USE [AlarmData]
GO
/****** Object:  Table [dbo].[DeviceHeartbeats]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceHeartbeats](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceRefId] [bigint] NOT NULL,
	[DeviceId] [nvarchar](128) NOT NULL,
	[ApiClientId] [int] NOT NULL,
	[AgencyId] [int] NOT NULL,
	[ReceivedAtUtc] [datetime2](7) NOT NULL,
	[Status] [nvarchar](64) NULL,
	[Message] [nvarchar](max) NULL,
	[PayloadJson] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeviceHeartbeats_DeviceId_ReceivedAtUtc]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceHeartbeats_DeviceId_ReceivedAtUtc] ON [dbo].[DeviceHeartbeats]
(
	[DeviceId] ASC,
	[ReceivedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceHeartbeats] ADD  CONSTRAINT [DF_DeviceHeartbeats_ReceivedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ReceivedAtUtc]
GO
ALTER TABLE [dbo].[DeviceHeartbeats] ADD  CONSTRAINT [DF_DeviceHeartbeats_PayloadJson]  DEFAULT (N'{}') FOR [PayloadJson]
GO
