USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentCaseNumbers]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentCaseNumbers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[CaseNumber] [nvarchar](30) NOT NULL,
	[AgencyPrefix] [nvarchar](8) NOT NULL,
	[Source] [nvarchar](30) NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IncidentCaseNumbers_IncidentId_CaseNumber]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_IncidentCaseNumbers_IncidentId_CaseNumber] ON [dbo].[IncidentCaseNumbers]
(
	[IncidentId] ASC,
	[CaseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentCaseNumbers] ADD  CONSTRAINT [DF_IncidentCaseNumbers_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[IncidentCaseNumbers] ADD  CONSTRAINT [DF_IncidentCaseNumbers_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[IncidentCaseNumbers]  WITH CHECK ADD  CONSTRAINT [FK_IncidentCaseNumbers_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentCaseNumbers] CHECK CONSTRAINT [FK_IncidentCaseNumbers_Incidents]
GO
