USE [AlarmData]
GO
/****** Object:  Table [dbo].[UnitStatusEvents]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitStatusEvents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[AgencyId] [int] NULL,
	[UnitCatalogId] [int] NULL,
	[UnitIdentifier] [nvarchar](128) NOT NULL,
	[StatusCodeRaw] [nvarchar](64) NULL,
	[StatusCodeNormalized] [nvarchar](64) NULL,
	[OccurredAtUtc] [datetime2](7) NULL,
	[SourceText] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedAgency] [nvarchar](128) NULL,
 CONSTRAINT [PK__UnitStat__3214EC07873E38DF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UnitStatusEvents_IncidentId_AgencyId_UnitIdentifier]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_UnitStatusEvents_IncidentId_AgencyId_UnitIdentifier] ON [dbo].[UnitStatusEvents]
(
	[IncidentId] ASC,
	[AgencyId] ASC,
	[UnitIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UnitStatusEvents]  WITH CHECK ADD  CONSTRAINT [FK_UnitStatusEvents_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitStatusEvents] CHECK CONSTRAINT [FK_UnitStatusEvents_Incidents]
GO
