USE [AlarmData]
GO
/****** Object:  Table [dbo].[ApiClientDepartments]    Script Date: 3/11/2026 5:26:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiClientDepartments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ApiClientId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApiClientDepartments_ApiClientId_DepartmentId]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApiClientDepartments_ApiClientId_DepartmentId] ON [dbo].[ApiClientDepartments]
(
	[ApiClientId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiClientDepartments] ADD  CONSTRAINT [DF_ApiClientDepartments_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ApiClientDepartments] ADD  CONSTRAINT [DF_ApiClientDepartments_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[ApiClientDepartments]  WITH CHECK ADD  CONSTRAINT [FK_ApiClientDepartments_ApiClients] FOREIGN KEY([ApiClientId])
REFERENCES [dbo].[ApiClients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApiClientDepartments] CHECK CONSTRAINT [FK_ApiClientDepartments_ApiClients]
GO
ALTER TABLE [dbo].[ApiClientDepartments]  WITH CHECK ADD  CONSTRAINT [FK_ApiClientDepartments_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApiClientDepartments] CHECK CONSTRAINT [FK_ApiClientDepartments_Departments]
GO
