USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentUnits]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentUnits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[AgencyId] [int] NULL,
	[UnitIdentifier] [nvarchar](128) NOT NULL,
	[Station] [nvarchar](128) NULL,
	[UnitType] [nvarchar](128) NULL,
	[CurrentStatus] [nvarchar](64) NULL,
	[CreatedAtUtc] [datetime2](7) NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[UnitCatalogId] [int] NULL,
	[AgencyRaw] [nvarchar](64) NULL,
	[StatusOriginal] [nvarchar](8) NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IncidentUnits_IncidentId_AgencyId_UnitIdentifier]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_IncidentUnits_IncidentId_AgencyId_UnitIdentifier] ON [dbo].[IncidentUnits]
(
	[IncidentId] ASC,
	[AgencyId] ASC,
	[UnitIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentUnits]  WITH CHECK ADD  CONSTRAINT [FK_IncidentUnits_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentUnits] CHECK CONSTRAINT [FK_IncidentUnits_Incidents]
GO
ALTER TABLE [dbo].[IncidentUnits]  WITH CHECK ADD  CONSTRAINT [FK_IncidentUnits_Units] FOREIGN KEY([UnitCatalogId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[IncidentUnits] CHECK CONSTRAINT [FK_IncidentUnits_Units]
GO
