USE [AlarmData]
GO
/****** Object:  Table [dbo].[APIClientDepartment]    Script Date: 3/11/2026 5:26:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIClientDepartment](
	[APIClientDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[APIClientId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[APIClientDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_APIClientDepartment] UNIQUE NONCLUSTERED 
(
	[APIClientId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APIClientDepartment]  WITH CHECK ADD  CONSTRAINT [FK_APIClientDepartment_APIClient] FOREIGN KEY([APIClientId])
REFERENCES [dbo].[ApiClients] ([Id])
GO
ALTER TABLE [dbo].[APIClientDepartment] CHECK CONSTRAINT [FK_APIClientDepartment_APIClient]
GO
ALTER TABLE [dbo].[APIClientDepartment]  WITH CHECK ADD  CONSTRAINT [FK_APIClientDepartment_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[APIClientDepartment] CHECK CONSTRAINT [FK_APIClientDepartment_Department]
GO
