USE [AlarmData]
GO
/****** Object:  Table [dbo].[IncidentSyncLog]    Script Date: 3/11/2026 5:26:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentSyncLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IncidentId] [bigint] NOT NULL,
	[AgencyId] [int] NOT NULL,
	[Scope] [nvarchar](64) NOT NULL,
	[ChangeType] [nvarchar](64) NOT NULL,
	[ChangedAtUtc] [datetime2](7) NOT NULL,
	[AckedAtUtc] [datetime2](7) NULL,
	[DeviceId] [nvarchar](128) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidentSyncLog_AgencyId_ChangedAtUtc]    Script Date: 3/11/2026 5:26:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_IncidentSyncLog_AgencyId_ChangedAtUtc] ON [dbo].[IncidentSyncLog]
(
	[AgencyId] ASC,
	[ChangedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IncidentSyncLog] ADD  CONSTRAINT [DF_IncidentSyncLog_Scope]  DEFAULT (N'incident') FOR [Scope]
GO
ALTER TABLE [dbo].[IncidentSyncLog] ADD  CONSTRAINT [DF_IncidentSyncLog_ChangeType]  DEFAULT (N'upsert') FOR [ChangeType]
GO
ALTER TABLE [dbo].[IncidentSyncLog] ADD  CONSTRAINT [DF_IncidentSyncLog_ChangedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ChangedAtUtc]
GO
ALTER TABLE [dbo].[IncidentSyncLog]  WITH CHECK ADD  CONSTRAINT [FK_IncidentSyncLog_Incidents] FOREIGN KEY([IncidentId])
REFERENCES [dbo].[Incidents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidentSyncLog] CHECK CONSTRAINT [FK_IncidentSyncLog_Incidents]
GO
